<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Tuten Prueba</a>
      <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      </div>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a    class="nav-link" 
                href="#"
                ng-click="handleLogout()">Cerrar sesión</a>
        </li>
      </ul>
      
    </div>
</nav>
<div class="container mt-4">
 
    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
            
                <select class="custom-select"
                        name="itemFilter"
                        ng-model="itemFilter"
                        ng-change="selectFilter()">
                    <option value="BookingId">BookingId</option>
                    <option value="Precio">Precio</option>
                </select>
            </div>
            <div    class="form-group col-md-4"
                    ng-show="itemFilter == 'BookingId'">
            
            <input    type="text" 
                        class="form-control" 
                        name="bookingId" 
                        placeholder="Ingrese el bookingId a buscar"
                        ng-model="bookingId"
                        ng-keyup="searchCustomerBookingId()"
                        ng-keypress="validations.onlyNumbers($event)">
            
            </div>

            <div    class="form-group col-md-3"
                    ng-show="itemFilter == 'Precio'">
            
                <input  type="text" 
                        class="form-control"
                        placeholder="Precio minimo"
                        name="bookingPriceMin"
                        ng-model="bookingPriceMin"
                        ng-keyup="searchCustomerbookingPrice()"
                        ng-keypress="validations.onlyPrices($event)">
            </div>

            <div  class="form-group col-md-3"
                    ng-show="itemFilter == 'Precio'">
                
                <input  type="text" 
                        class="form-control"
                        placeholder="Precio maximo"
                        name="bookingPriceMax"
                        ng-model="bookingPriceMax"
                        ng-keyup="searchCustomerbookingPrice()"
                        ng-keypress="validations.onlyPrices($event)">

            </div>
        </div>
    </form>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">BookingId</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Dirección</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(i, customer) in customers">
            <th scope="row">{{ customer.bookingId }}</th>
            <td>{{ customer.tutenUserClient.firstName }} {{ customer.tutenUserClient.lastName }}</td>
            <td>{{ customer.bookingTime | date : format : timezone }}</td>
            <td>{{ customer.locationId.streetAddress }}</td>
            <td>{{ customer.parentBooking.bookingPrice || '0' | currency : "$" : 0 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>