<div class="container mt-4">
            
    <div class="card w-50 center">
        <div class="card-header">
            Inicio de sesión
        </div>
        <div class="card-body">
            <!-- FORMULARIO TUTENFORM -->
            <form   name="tutenForm" 
                    novalidate> 
                <!-- INPUT EMAIL -->
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Email <strong class="text-danger">*</strong>
                    </label>
                    <input      type="text" 
                                class="form-control" 
                                id="exampleInputEmail1" 
                                aria-describedby="emailHelp"
                                placeholder="Ingrese el email"
                                name="email"
                                ng-model="user.email"
                                ng-class="{'is-invalid':( !tutenForm.email.$valid && 
                                                        tutenForm.email.$dirty) || 
                                                        (!tutenForm.email.$valid && 
                                                        tutenForm.email.$touched),
                                            'is-valid': tutenForm.email.$valid && 
                                            tutenForm.email.$dirty}"
                                required
                                ng-minlength="10"
                                maxlength="50">

                    <small  ng-show="tutenForm.email.$error.required && 
                                    (tutenForm.email.$touched || tutenForm.email.$dirty)"
                                    class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small  ng-show="tutenForm.email.$error.minlength && 
                                    (tutenForm.email.$touched || tutenForm.email.$dirty)"
                                    class="text-danger">
                        Mínimo 8 caracteres
                    </small>
                    <small  ng-show="tutenForm.email.$error.email && 
                                    (tutenForm.email.$touched || tutenForm.email.$dirty)"
                                    class="text-danger">
                        Formato de email incorrecto
                    </small>
                </div>
                <!-- FIN -->

                <!-- INPUT PASSWORD -->
                <div class="form-group">
                    <label for="exampleInputPassword1">
                        Password <strong class="text-danger">*</strong>
                    </label>
                    <input      type="password" 
                                class="form-control" 
                                id="exampleInputPassword1"
                                placeholder="Ingrese el password"
                                name="password"
                                ng-model="user.password"
                                ng-class="{'is-invalid':( !tutenForm.password.$valid && 
                                                            tutenForm.password.$dirty) || 
                                                        (!tutenForm.password.$valid && 
                                                        tutenForm.password.$touched),
                                            'is-valid': tutenForm.password.$valid && 
                                            tutenForm.password.$dirty}"
                                required
                                ng-minlength="4"
                                maxlength="15">
                    <small  ng-show="tutenForm.password.$error.required && 
                                    (tutenForm.password.$touched || tutenForm.password.$dirty)"
                                    class="text-danger">
                        El campo es obligatorio
                    </small>
                    <small  ng-show="tutenForm.password.$error.minlength && 
                                    (tutenForm.password.$touched || tutenForm.password.$dirty)"
                                    class="text-danger">
                        Mínimo 4 caracteres
                    </small>
                </div>
                <!-- FIN -->
                
                <!-- BUTTON INICIAR SESION -->
                <button     type="button" 
                            class="btn btn-primary"
                            ng-click="handleLogin()"
                            ng-disabled="tutenForm.$invalid || btnLogin">Iniciar sesión</button>
                <!-- FIN -->

                <!-- BUTTON CANCELAR -->
                <button     type="button" 
                            class="btn btn-secondary"
                            ng-click="reset(tutenForm)">Cancelar</button>            
                <!-- FIN -->

            </form>
            <!-- FIN -->
        </div>
    </div>



</div>